// Header
.site-nav {
    text-align:center;
    ul { list-style:none; }
    li {
        display:inline-block;
        margin:0 0.5em;
        font-size:1.875em;
    }
}
.site-title a{
    color: black;
    &:hover{
        text-decoration: none;
    }
}

.site-header{
    padding: 2em 0 0;
    border-bottom: 1px solid #ccc;
    background: url('/images/header-bg2.png');
    background-size: 400px 400px;
}
// Footer
.site-footer{
    padding: 2em 0;
    color: #fff;
    background: $grey-color-dark;
}
.footer-content{
    float: left;
    width: 40%;
    font-size: 0.875em;

    h3{
        text-align: left;
        font-size: $h3-font-size;
    }
}
.footer-social{
    float: right;
    li{
        display: inline-block;
        margin: 0 0.5em;
    }
}
//  Sections
.site-section {
    @extend %clearfix;
    padding-top: $h1-font-size;
}
.site-section-last{
    padding-bottom: $h1-font-size;
}